#btn-upload{
    float: right;
}
h2 {
    
    margin-right: 2%;
}

.mainframe{
    clear:both;

}
.levo{
    float: left;
     border: 1px solid #E3D3D6;
     padding-left: 10px;
     height: 80px;
     word-wrap: break-word;
}
.levo-levo{
    width: 25%;
}

.main-margin{
    margin: 1%;
    margin-left: 0.2%;
    margin-right: 0.2%;
}
.napis{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    margin: 0;
    padding: 0;
}

.search-up-cat:hover{
    background-color: #E3D3D6;
    cursor: pointer;
}

.napis1{
   position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
