doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title MMShare_admin
        
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='src/sigma.core.js')
        script(src='src/conrad.js')
        script(src='src/utils/sigma.utils.js')
        script(src='src/utils/sigma.polyfills.js')
        script(src='src/sigma.settings.js')
        script(src='src/classes/sigma.classes.dispatcher.js')
        script(src='src/classes/sigma.classes.configurable.js')
        script(src='src/classes/sigma.classes.graph.js')
        script(src='src/classes/sigma.classes.camera.js')
        script(src='src/classes/sigma.classes.quad.js')
        script(src='src/classes/sigma.classes.edgequad.js')
        script(src='src/captors/sigma.captors.mouse.js')
        script(src='src/captors/sigma.captors.touch.js')
        script(src='src/renderers/sigma.renderers.canvas.js')
        script(src='src/renderers/sigma.renderers.webgl.js')
        script(src='src/renderers/sigma.renderers.svg.js')
        script(src='src/renderers/sigma.renderers.def.js')
        script(src='src/renderers/webgl/sigma.webgl.nodes.def.js')
        script(src='src/renderers/webgl/sigma.webgl.nodes.fast.js')
        script(src='src/renderers/webgl/sigma.webgl.edges.def.js')
        script(src='src/renderers/webgl/sigma.webgl.edges.fast.js')
        script(src='src/renderers/webgl/sigma.webgl.edges.arrow.js')
        script(src='src/renderers/canvas/sigma.canvas.labels.def.js')
        script(src='src/renderers/canvas/sigma.canvas.hovers.def.js')
        script(src='src/renderers/canvas/sigma.canvas.nodes.def.js')
        script(src='src/renderers/canvas/sigma.canvas.edges.def.js')
        script(src='src/renderers/canvas/sigma.canvas.edges.curve.js')
        script(src='src/renderers/canvas/sigma.canvas.edges.arrow.js')
        script(src='src/renderers/canvas/sigma.canvas.edges.curvedArrow.js')
        script(src='src/renderers/canvas/sigma.canvas.edgehovers.def.js')
        script(src='src/renderers/canvas/sigma.canvas.edgehovers.curve.js')
        script(src='src/renderers/canvas/sigma.canvas.edgehovers.arrow.js')
        script(src='src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js')
        script(src='src/renderers/canvas/sigma.canvas.extremities.def.js')
        script(src='src/renderers/svg/sigma.svg.utils.js')
        script(src='src/renderers/svg/sigma.svg.nodes.def.js')
        script(src='src/renderers/svg/sigma.svg.edges.def.js')
        script(src='src/renderers/svg/sigma.svg.edges.curve.js')
        script(src='src/renderers/svg/sigma.svg.labels.def.js')
        script(src='src/renderers/svg/sigma.svg.hovers.def.js')
        script(src='src/middlewares/sigma.middlewares.rescale.js')
        script(src='src/middlewares/sigma.middlewares.copy.js')
        script(src='src/misc/sigma.misc.animation.js')
        script(src='src/misc/sigma.misc.bindEvents.js')
        script(src='src/misc/sigma.misc.bindDOMEvents.js')
        script(src='src/misc/sigma.misc.drawHovers.js')
        // END SIGMA IMPORTS
        script(src='plugins/sigma.renderers.parallelEdges/utils.js')
        script(src='plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curve.js')
        script(src='plugins/sigma.renderers.parallelEdges/sigma.canvas.edges.curvedArrow.js')
        script(src='plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curve.js')
        script(src='plugins/sigma.renderers.parallelEdges/sigma.canvas.edgehovers.curvedArrow.js')
        script(src="/plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js")
        
        script(src='plugins/sigma.renderers.edgeLabels/settings.js')
        script(src='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js')
        script(src='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js')
        script(src='plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js')
        
        script(src='logic.js')

    body
        #container
           #graph-container
   
        
                

