@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

* {
  font-family: 'Raleway', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: auto;
    flex-direction: column;
    overflow-x: hidden;
}

#left-block {
    margin-top: 30%;
    
}
#left-block1{
    margin-top: 25%;
}
#left-form {
     margin-left: 30%;
}

.login-text{
    /*margin-right: 60%;
    color:red;*/
}
.input-vpisi {
    width: 60%;
    
}

.form-control {
    border-color: #cccccc;
    height: 45px;
    margin-bottom: 0.3em;
}
.btn{
    background-color: #E3D3D6;
    width: 60%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #cccccc;
    transition: 0.2s;
    box-shadow: 0px 1px 2px #CCCCCC;
    min-width: 150px;
}
.btn:hover {
    opacity: .7;
    box-shadow: 0px 2px 8px #CCCCCC;
}

.btn:active {
    background-color: 0.8;
    box-shadow: 0px 2px 2px #CCCCCC;
}

img.login-register-image{
    margin-top: 30%;
    width: 50%;
    height: 50%;
}


.btn1{
    background-color: #E3D3D6;
    width: 10%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #cccccc;
    transition: 0.2s;
    box-shadow: 0px 1px 2px #CCCCCC;
    min-width: 150px;
    cursor: pointer;
}
.btn1:hover {
    opacity: .7;
    box-shadow: 0px 2px 8px #CCCCCC;
}

.btn1:active {
    background-color: 0.8;
    box-shadow: 0px 2px 2px #CCCCCC;
}


.btn2{
    background-color: #E3D3D6;
    border: 1px solid #cccccc;
    transition: 0.2s;
    box-shadow: 0px 1px 2px #CCCCCC;
    cursor: pointer
}
.btn2:hover {
    opacity: .7;
    box-shadow: 0px 2px 8px #CCCCCC;
}

.btn2:active {
    background-color: 0.8;
    box-shadow: 0px 2px 2px #CCCCCC;
}

.form-control:focus {
  border-color: #E3D3D6 !important;
  box-shadow: 0 0 5px rgba(98, 101, 228, 1) !important;
}



.btn4{
    background-color: #E3D3D6;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #cccccc;
    transition: 0.2s;
    box-shadow: 0px 1px 2px #CCCCCC;
    min-width: 150px;
}
.btn4:hover {
    opacity: .7;
    box-shadow: 0px 2px 8px #CCCCCC;
}

.btn4:active {
    background-color: 0.8;
    box-shadow: 0px 2px 2px #CCCCCC;
}

.border-modalbox {
     border-right: 3px solid #E3D3D6;
}

#upload-form{
    margin-top: 3%;
}

textarea {
  width: 100%;
  height: 100%;
}