
nav {
    background-color: #E3D3D6;
}
.pustiprostor{
    clear: both;
    margin-bottom: 100px;
}

@media only screen and (max-width: 500px) {
    .pustiprostor{
        margin-bottom: 150px;
    }
    
} 

.navbar-brand{
    color:#212121;
}
.navbar-brand:hover{
    color: #212121;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
  cursor: pointer;
}

/* Fixes dropdown menus placed on the right side */
.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
}

.center {
    display: inline-block;
    position: absolute;
    top: 50%;
    
    -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
    padding-left: 0.4em;
       color: #212121;
}

.center:hover {
     opacity: 0.5;
}

.nav-link {
    color: #212121;
}
.nav-link:hover {
    color: #212121;
}

#dropdown-style {
    cursor: pointer;
}

#dropdown-style:hover {
    background-color: #FFBC59;
}

.btn-search{
    width: 50%;
    height: 100%;
    border: 1px solid #cccccc;
    transition: 0.2s;
    box-shadow: 0px 1px 2px #CCCCCC;
    min-width: 50%;
}

.btn-search:hover{
    background-color: #E3D3D6;
    opacity: 0.9;
}

.navbar-left {
    display: inline-block;
    margin-left: 0;
}
.navbar-header{
    margin-right:  0%;
}
.dropdown-menu .dropdown-item:hover {
    background-color: #E3D3D6;
}

.dropdown{
    cursor: pointer;
}

#inline-dorpbdown{
    display: inline;
}

#imgandtext{
    float:right;
}

#imgandtext > img {
    float: left;
    margin-right: 10%;
}

#imgandtext > div {
    float: left;
    padding: 0;
    margin: 0;
}
.no-margin{
    margin:0;
    padding: 0;
    float:left;
}
#money{
    margin-right: 0.2em;
}